.splash-all {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color:whitesmoke;
  flex-direction: column;
  /* box-sizing: border-box; */
}


.splash-background {
  width: 90%;
  height: 100%;
}

.splash-header {
  /* background-color: red; */
  min-height: 10%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 35px;
  background-color: khaki;
}



.splash-body {
  background-color: whitesmoke;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-inner-body {
  width: 90%;
  height: 80%;
  background-color: lightcoral;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://i.imgur.com/MKL5deQ.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 80%;
  /* height: 700px; */
  background-position: center;
  /* position: fixed; */
  /* z-index: 100; */
}

.splash-def {
    display: flex;
    /* background-color: lavenderblush; */
    color: rgb(201, 248, 248);
    flex-direction: column;
    height: 40%;
    min-width: 30%;
    max-width: 300px;
    align-items: flex-start;
    /* background-color: violet; */
    /* overflow: auto; */
    list-style: none;
    justify-content: center;
    /* background-color: whitesmoke; */
    background-color: rgba(40, 83, 94, 0.733);
    opacity: .9;
    font-weight: 500;
    padding-left: 2%;
}

.splash-word  {
    font-size: 40px;
    /* margin-bottom: -25px; */

}
.splash-word-type {
    font-size: 10px;
        /* margin-bottom: -20px; */

}

.splash-subtext {
    display: flex;
    flex-direction: row;
    font-size: 30px;
}

.italic {
    font-style: italic;
    margin-left: 5%;
    margin-bottom: 5%;
}

.splash-footer {
  background-color: rgb(207, 207, 207);
  min-height: 5%;
  /* position: absolute; */
  /* bottom: 0; */
  display: flex;
}
.definition {
    margin-right: 5%;
}
