.prof-all {
    height: 100vh;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-direction: column;
    overflow: auto;
    background-color: whitesmoke;
}

.prof-header {
    /* background-color: turquoise; */
    min-height: 10%;
    z-index: 1;
}

.prof-container {
    /* min-height: 100; */
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-sizing: border-box; */
    flex-direction: column;
    /* background-color: whitesmoke; */
}


.prof-banner{
    width: 90%;
    /* max-width: 1000px; */
    /* background-color: grey; */
    height: 30%;
    /* justify-content: center; */
    /* max-width: 1000px; */
    background-image: url(https://i.imgur.com/EFtDLws.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* border-bottom: 1px solid gray; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prof-banner img {
    /* width: inherit; */
   /* min-width: 100%;
   height: 100%; */
}


.prof-pic {
    width: 100%;
    height: 40%;
    /* max-height: 10%; */
    /* background-color: lightcoral; */
    justify-content: center;
    align-items: center;
    display: flex;
    /* border-bottom: gray 2px solid; */
}

.prof-img {
    height: 90%;
    border-radius: 50%;
    padding: 10%;
}

.prof-details {
    /* background-color: lightgreen; */
    /* border: gray 2px solid; */
    width: 100%;
    height: 20%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.prof-details ul {
    /* background-color: rgba(128, 128, 128, 0.63); */
    width: 50%;
    max-height: 50%;
    display: flex;
    justify-content: space-evenly;
    /* padding: 1rem; */

    /* background-color: ivory; */

}
.prof-details li {
    background-color: grey;
    color: white;
    font-size: larger;
}

.prof-body {
    width: 90%;
    /* max-width: 1000px; */
    /* height: 700px; */
    height: 90%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}

/* .prof-left{
    background-color: green;
    width: 30%;
    max-width: 300px;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
} */



.prof-right{
    background-color: hotpink;
    height: 100%;
    max-height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border-left: 1px solid gray; */
}

.prof-right-header{
    height: 10%;
    width: 100%;
    border-left: 1px solid gray;
    /* padding: 0.5rem; */
    background-color: thistle;
}


.prof-tabs {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* list-style: none; */
    /* background-color: aqua; */
    align-items: center;    
    /* overflow: hidden; */
    /* z-index: 1; */
}

.prof-tabs button {
    background-color: rgb(26, 194, 180);
    /* width: 100%; */
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px 30px;
    color: white;
    display: flex;
    
}
.prof-tabs button:hover {
    background-color: rgb(45, 154, 158);
}

.tabcontent {
    /* display: none; */
    border: 1px solid #ccc;
    width: 90%
}


.prof-right-body {
    width: 100%;
    height: 90%;
    max-height: fit-content;

    display: flex;
    flex-direction: column;
    /* padding-left: 10px; */
    background-color: rgb(255, 163, 163);
    justify-content: center;
}

.trips {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    max-height: fit-content;

    background-color: khaki;
    border-left: 1px solid gray;

    /* height: 90%; */
    /* margin-top: 15px; */
}


.trip-num  {
    font-size: 1.5rem;
}



#trip {
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 120%;

}

/* Add Trip Dropdown*/

.dropdown {
    position: relative;
    display: inline-block;
    /* overflow: none; */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-height: fit-content;
    min-width: 120%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    cursor: pointer;
    /* z-index: 1; */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li:hover {background-color: #f1f1f1}


/* Add Trip Dropdown*/




  /* Scroll bar */

*::-webkit-scrollbar {
  /* height: 100px; */
  /* width: 50%; */
  width: .5rem;
}

 *::-webkit-scrollbar-thumb {
  background-color:  rgb(26, 194, 180);
  /* outline: 1px solid slategrey; */
}

/******************* Trip Icon ***********************/
/* .trips-container {
    display: flex;
    max-width: 50em;
    height: 50em;
    border: 1px solid black;
    overflow: scroll;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;

} */





.trip-icon {
    display: flex;
    align-items: flex-end;
    position: relative;
    background-size: cover;
    border-radius: 0.25em;
    box-shadow: 3px 3px 10px #888888;
    width: 15em;
    height: 15em;
    margin: 1em;
    /* z-index: 1; */
}

#location-name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 90%;
    font-size: x-large;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.trip-icon:hover {
    cursor: pointer;
}

#remove-btn {
    color: white;
    position: absolute;
    text-shadow: 2px 2px 5px black;
    top: 0;
    right: 0.4em;
}

#remove-btn:hover {
    color: tomato;
}





/*******************************************************/

/*******************Trip Component**********************/

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.295);
    z-index: 99;
}



.trip-header {
    display: flex;
    padding: 0.5em;
}

.trip-city  {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0.25em;
    border-bottom: 2px solid grey;
}

#trip-city-btn {
    width: 2em;
    height: 2em;
    border: 1px solid grey;
    border-radius: 0.25em;
    background-color: white;
    color: grey;
    cursor: pointer;
    outline: none;
}

#trip-city-btn:hover, #trip-city-btn:focus {
    background-color: lightgray;
}

.trip-container ul {
    /* margin: 0;
    padding: 0; */
}

.trips img {
    width: 6em;
    height: 6em;
    margin-right: 0.5em;
    border-radius: 0.25em;
    box-shadow: 3px 3px 10px #888888;
}

.attrac-ul {
    display: flex;
    max-height: 18em;
    overflow-y: auto;
}

.attrac-container {
    display: flex;
    border: none;
    position: relative;
    padding: 1em;
}

.trip-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}



.trip-header-2 {
    display: flex;
    align-items: center;
    width: 15em;
}

.trip-header-2 a {
    display: flex;
    font-size: small;
    font-style: italic;
    margin-left: 1em;
}


.attrac-count {
    padding: 0.5em;
}
.attrac-details {
    display: flex;
    flex-direction: column;
}

#attrac-name {
    font-size: large;
    padding-bottom: 2.5px;
    text-decoration: underline;
}

#attrac-ranking {
    font-size: small;
    padding: 2.5px;
}

#attrac-address {
    font-size: small;
    padding: 2.5px;
}

#attrac-description {
    font-size: small;
    text-overflow: ellipsis;
    display: block;
    width: 30em;
    overflow: hidden;     
    white-space: nowrap;
    padding: 2.5px;
    line-height: 1.5;
}

.attrac-actions {
    display: flex;
    justify-content: space-between;
    position: absolute;
    border-top: 1px solid grey;
    padding: 0.5em;
    font-size: small;
    font-style: italic;
    width: 70%;
    top: 8.5em;
    cursor: pointer;
}

.attrac-actions a:hover, .trip-header-2 a:hover {
    color: rgb(26, 194, 180);
}

.attrac-actions p:hover {
    color: red;
    cursor: pointer;
}
/******************************************************/


/*******************************************************/

/*******************Top-Trips Board/Component**********************/

.trips-container {
    /* position: relative;
    background-color:white;
    border: 1px solid rgb(59, 57, 57);
    top: 3em;
    width: 35em;
    max-height: 30em;
    padding: 0.5em;
    border-radius: 0.25em;
    box-shadow: 3px 3px 10px #888888; */
    display: flex;
    background-color: rgb(130, 141, 238);
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
}


.top-trips {
    background-color: turquoise;
    height: 50%;
    width: 100%;
    display: flex;
}

.board {
    /* background-color: tomato; */
    /* height: fit-content; */
    width: 99%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 3px dotted black;
}

.all-trips {
    /* height: fit-content; */
    display: flex;
    height: 50%;
    width: 100%;
    background-color: wheat;
    justify-content: center;
    align-items: center;
}

.trip-card-contain {
    height: fit-content;
    width: fit-content;
    background-color: thistle;
    display: flex;
    /* flex-wrap: wrap; */
}