/* .slider {
  position: absolute;
  left: 25%;
} */
* {
  box-sizing: border-box;
}

.slides {
  display: flex;
  /* background-color: teal; */
  height: 100%;
  width: 100%;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  /* overflow-x: scroll; */
  flex-direction: row;
  /* overflow-x: scroll;   */
}

/* .slider div {
    cursor: pointer;
} */


/* .slider-items {
    display: inline-flex;
} */
/* .inactive {
  display: none;
} */
/* .active {
  display: block;
} */

.slide {
    height: 20em;
    width: 25em;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    scroll-snap-align: start;

}

.slide-city {
  background-color: rgba(255, 255, 255, 0.664);
  font-size: 2rem;
  display: flex;
  /* flex-wrap: wrap; */

}

.cities {
  width: 100%;
  display: flex;

}

.city {

}


/* .slider-items {
  background-color: violet;
  height: 40%;
  overflow-x: scroll;
} */



