

.att-all{
height: 100vh;
    width: 100%;
    max-height: fit-content;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* overflow: auto; */
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
}

.att-container {

}
.att-header {
/* top: 0;
  height: 10px; */
  /* height: 500px;; */
  height: 10%;
  width: 100%;
}

.att-body {

  /* position: center; */
  /* margin-top: 120px; */
  display: flex;
  flex-direction: column;
  min-width: 100%;
  height: 90%;
  /* justify-content: space-evenly; */
  /* margin-top: 300px; */
  /* background-color: teal; */
  /* overflow-y: scroll; */
  /* align-items: center; */
}

.page-title {
  display: flex;
  justify-content: center;
  min-height: 10%;
  width: 100%;
  /* background-color: blue; */
  height: fit-content;
  font-size: 7vh;
  /* background-color: rgba(26, 194, 180, 0.301); */

  border-bottom: 2px solid rgb(26, 194, 180);

  /* background-size: cover; */
  /* align-items: center; */
  /* z-index: 1; */
}
/* .att-footer {
  height: 10%;
} */

.gallery {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  /* height: 100%; */
  /* margin-left: 20px; */
  /* background-color: tomato; */
  /* overflow-y: scroll; */
}

.gallery-att{
  background-color: whitesmoke;
  /* max-width: 20em; */
  /* width: 20em; */
  /* height: 33.33333%; */
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow-x: hidden; */
  
}
.gallery-night{
  background-color: whitesmoke;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery-food{
  background-color: whitesmoke;
height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;}


/* OLD CODE */

/* .gallery-image{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 70px;
  margin-left: 30px;
  font-family: fantasy;
  background-color: thistle;
  width: 500px;
  height: 500px; 
  justify-content: center;
  
} */



/* .picture-title {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  background-size: contain;
  font-size: 40px;
  color: white;
  background-color: rgb(172, 117, 117);
} */


/* .att{
    background-size: cover; 
   display: flex;
  flex-direction: column-reverse;
  align-items: center;
  font-family: fantasy;
  background-color: thistle;
  width: 100%;
  min-width: 200px;
  height: 250px;
  justify-content: center; 
  margin-left: 30px;
} */
/* .att > p {
  background-color: rgba(0, 0, 0, 0.425);
  height:100px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  flex-direction: row;
  padding-top: -10px;
  color: white;
} */

.picture:hover{
  cursor: pointer;
  box-shadow: 0px 0px 20px cadetblue;
}

.btn-hide {
  display: none;
}


/* .add-city{
  background-color: rgb(26, 194, 180);
  padding: 10px 20px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: white;
  cursor: pointer;
  align-self: center;
  margin-top: 40px;
  border: 2px solid black;
} */

.add-city:hover{
  background-color: rgb(45, 154, 158);
}

.category{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: fit-content;
  /* background-color: blue; */
  /* height: 20px; */
  font-size: 40px;
  /* color: rgb(35, 187, 187); */
  padding: .5em;
  background-color: white;
}
