.show-all{
  width: 100%;
  height: 100vh;
  display: flex;
  /* background-color: rgb(22, 10, 189); */
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-size: 1rem;
  
}

.show-header {
    width: 100%;
    height: 10%;
    /* background-color: thistle; */
}

.show-body {
  /* background-color: rgb(91, 255, 255); */
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
    
}

.show-footer {
  background-color: rgba(204, 204, 204, 0.877);
  height: 5%;
}


.show-content {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* align-items: center; */
  max-width: 100em;
  max-height: 50em;
  /* height: 500px; */
  background-color: rgba(255, 255, 255, 0.966);
  flex-direction: row;
  /* margin-top: 50px; */
}

.show-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 95%;
    /* background-color: turquoise; */
    /* margin-right: 20px; */
    justify-content: center;
    align-items: center;
    /* text-align: start; */
    font-size: 1em;
    /* position: relative; */
}

.left-top {
  width: 90%;
  height: 40%;
  /* background-color: yellow; */
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  /* text-align: left; */
  
}

.att-details {
  display: flex;
  width: 100%;
  height: 100%;
  /* background-color: blanchedalmond; */
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
  /* align-items: center; */

  

}


.left-bot {
  height: 60%;
  /* min-height: fit-content; */
  /* background-color: rgb(150, 150, 22); */
  display: flex;
  width: 90%;
  /* justify-content: center; */
  flex-direction: column;
}

.att-name {
  border-bottom: 1px solid black;
  /* background-color: thistle; */
  font-size: 1.5em;
}

.att-add {
  border-bottom: 1px solid black;
  /* background-color: violet; */
}

.att-web {
  border-bottom: 1px solid black;
  color: rgb(26, 194, 180);
        transition: ease 0.5s;
}


.att-web:hover {
  border-bottom: 1px solid black;
  color: rgb(4, 133, 122);
        transition: ease 0.5s;
}

.att-des {
  /* display: block; */
  height: 90%;
  width: 100%;
  /* background-color: rgb(255, 152, 27); */
  /* display: flex; */
  /* justify-content: space-evenly; */
  /* align-items: center; */
  overflow: auto;
  /* flex-direction: column; */
  
}

.show-right {
    display: flex;
    width: 45%;
    height: 91%;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    
}

/* .show-right img {
    display: flex;
    max-width: 100%;
    min-height: 100%;
    background-color: rgb(61, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    resize: horizontal;    
} */

.show-photo {
  width: 100%;
  height: 100%;
  
}


.photo {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 0.5em;
  box-shadow: 2.5px 2.5px 15px grey;
}

#trip-btn {
    background-color:rgb(26, 194, 180);
    padding: 10px 20px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color:white;
    cursor: pointer;
}

#no-cursor {
    background-color:rgba(212, 212, 212, 0.507);
    padding: 10px 20px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color:rgb(80, 80, 80);
    cursor: auto;
}


.btn-hide {
  display: none;
}



.attraction-action {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 15%;
}

#back-btn {
  cursor: pointer;
  outline: none;
  width: 3em;
  height: 3em;
  border-radius: 0.25em;
}

#back-btn:hover {
  background-color: rgba(175, 175, 175, 0.507);
}