.navbar-all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    background-color: white;
    top: 0;
}

.nav-left {
    /* align-items: center; */
    /* background-color: royalblue; */
    height: 100%;
    width: 40%;
    /* align-items: center; */
    display: flex;
    font-size: 60px;
    justify-content: flex-start;
    /* background-color: lawngreen; */
    min-width: 50%;
    margin-left: 2rem;

}

.nav-right {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 3rem;
}

.nav-auth {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.nav-auth button{
    margin-left: 2rem;
    background-color:rgb(26, 194, 180);
    padding: 10px 20px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color:white;
    cursor: pointer;
}

.nav-auth button:hover {
    background-color: rgb(45, 154, 158);
}

/* 
.nav-auth > button{
    margin-right: 30px;
    font-size: 20px;
    border: 2px solid white;
    padding: 10px 25px 10px;
    border-radius: 5px;
} */

.nav-auth > button:hover{
    border: 2px solid;
    background: white;
    cursor: pointer;
    color: black
}
