.all {
    background-color: turquoise;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.testing {
    font-size: 2em;
    width: 50%;
    height: 50%;
    background-color: thistle;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.board {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    width: 50%;
    height: 90%;
    background-color: gray;

}

.carD {
    background-color: green;
    cursor: -webkit-grabbing;
}