.dest-all {
  width: 100%;
  height: 100vh;
  display: flex;
  /* background-color: rgb(22, 10, 189); */
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.dest-header {
  height: 10%;
  width: 100%;

}

.dest-body {
  /* background-color: rgb(238, 130, 130); */
  /* max-width: 100%; */
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
}

.body-left {
  /* background-color: rgb(238, 130, 130); */
  /* max-width: 100%; */
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
}

/* .body-right {
  width: 20%;
  background-color: thistle;
} */


.dest-title  {
  min-height: 15%;
  width: 100%;
  /* background-color: violet; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 500;
  
}



.dest-slides {
  /* background-color: rgb(139, 0, 0); */
  /* min-height:50%; */
  /* min-height: fit-content; */
  /* width: 90%; */
  /* max-width: 72rem; */
  /* display: flex; */
  /* justify-content: center; */
  
  /* overflow: auto;
  resize: both; */


  
  /* flex-direction: column; */
  /* justify-content: center; */
  /* flex-wrap: wrap; */
  /* overflow-x: scroll; */
  /* scroll-behavior: smooth; */
  /* scroll-snap-type: x proximity; */

}


.dest-footer {
  /* bottom: 0;
  height: 5vw;
  width: 100%; */
  /* background-color: gray; */
}


.dest-slides::-webkit-scrollbar {
  /* height: 100px; */

  /* width: 50%; */
  /* width: 90%; */
  

}

.dest-slides::-webkit-scrollbar-button{
  /* width: 1rem; */
}

.dest-slides::-webkit-scrollbar-button:end:decrement {
  /* display: none; */
}
.dest-slides::-webkit-scrollbar-button:start:increment {
/* display: none; */
}
.dest-slides::-webkit-scrollbar-button:start:decrement {
  /* width: 10px;
  height: 10px; */
  /* background-color: rgb(26, 194, 180);
  border-radius: 50%; */
  /* background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url(https://i.imgur.com/Asnn3Zm.png?1); */
}

.dest-slides::-webkit-scrollbar-button:end:increment {
  /* width: 10px;
  height: 10px; */
  /* background-color: rgb(26, 194, 180);
  border-radius: 50%; */
}




.dest-slides::-webkit-scrollbar-track {
  /* background-color: rgb(192, 192, 192); */
}
 
.dest-slides::-webkit-scrollbar-thumb {
  /* background-color:  rgb(26, 194, 180);
  width: 30%; */
  /* outline: 1px solid slategrey; */
}

.modal-btn {
    background-color:rgb(26, 194, 180);
    padding: 10px 20px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color:white;
    cursor: pointer;
}
 




























/* 



.restaurants{
  margin-top: 50px;
  display: flex;
  border: 2px solid grey;
  width: 30%;
  height: 200px;
  align-items: center;
  justify-content: center;
  background-image: url(https://www.telegraph.co.uk/content/dam/Travel/Destinations/Middle%20East/Dubai/ruya-bar-and-lounge-dubai-top-xlarge.jpg);
  color: white;
  font-family: cursive;
  background-size: cover;
  font-size: 23px;
}

.attractions{
  margin-top: 50px;
  background-image: url(https://miro.medium.com/max/791/1*DYk1EgJkBzRtbtAAtAsFuw.jpeg);
  display: flex;
  border: 2px solid grey;
  width: 30%;
  height: 200px;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: cursive;
  background-size: cover;
}

.restaurants:hover, .attractions:hover, .nightlife:hover{
  padding: 10px 20px;
  cursor: pointer;
  font-size: 25px;
}

.nightlife{
  margin-top: 50px;
  background-image: url(https://www.carhirejavea.com/wp-content/uploads/2017/11/Nightlife-Javea-624x401.jpg);
  display: flex;
  border: 2px solid grey;
  width: 30%;
  height: 200px;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: cursive;
  background-size: cover;
}

 */

