.dest-modal-container {
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 88.55%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0);
}

.dest-modal {
  /* position: fixed; */
  background-color: #f4f4f4;
  /* margin: 20% auto; */
  /* padding: 20px; */
  width: 90%;
  height: 100%;
  border-radius: 0.25em;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
  animation-name: modal;
  animation-duration: 2s;
  animation-fill-mode: forwards;

  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15em;
  height: 15em;
  background: white;
  border: 1px solid #ccc;
  transition: 1.1s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible; */
}

@keyframes modal {
  0%   {right: -20%; top: 20em; }
  /* 25%  {background-color: yellow; left: 200px; top: 0px; }
  50%  {background-color: blue; left: 200px; top: 200px; } */
  100% {right: 0%; top: 20em; }
}



.off {
    opacity: 0;
    visibility: hidden;
    filter: blur(8px);
    transform: scale(0.33);
    box-shadow: 1rem 0 0 rgba(black, 0.2);
}

.dest-modal-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
    margin: 0;
}

.dest-modal-actions {
    display: flex;
    justify-content: space-between;
}

.dest-modal-actions button {
    margin-left: 1em
}

.dest-modal-content {
    padding: 1rem;
}



.dest-modal-toggle-button {
  /* position: absolute; */
}

.content-item{
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
}

.remove-btn{
    font-style: italic;
    font-size: small;
    cursor: pointer;
}



/*******************/

