.carry-all {
    height: fit-content;
    width: 100%;
    background-color: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carry-controls {
    position: absolute;
    height: fit-content;
    width: 100%;
    border: solid 1px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.carry-cont {
   /* position: absolute; */
   /* top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); */
   width: 350px;
   height: 300px;
   background-color: red;
   overflow: hidden;
   display: flex;
   /* margin: 1em; */
}


.carry {
    display: flex;
    flex-direction: row;
    width: fit-content;

}


/* CARD */

.card {
    width: 350px;
    height: 300px;
    background-color: blue;
    border: 2px solid black;
    box-sizing: border-box;
    font-size: 2.5em;
    color: white;
    /* margin-right: 1em; */
}


/* button {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    z-index: 1;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 219, 180);
    border-style: solid;
    box-shadow: none;
    outline: none;


} */