.carry-all {
    /* background-color: white; */
    width: 100%;
    height: 35vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  


}

.carry-controls {
    position: absolute;
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
     
    /* background-color: khaki; */
}

.slide-btn {
    /* padding: 1em ; */
    border-radius: 50%;
    font-size: 2.5em;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    border: none;
    color: white;
    background-color: rgb(26, 194, 180);
    z-index: 1;
}


.carry-container {
    height: fit-content;
    width: fit-content;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-color: indianred; */
    overflow: hidden;
    /* scroll-behavior: smooth;
    scroll-snap-type: x mandatory; */
     transition: translateX(20em) 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

      /* transition: translate(20em) 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); */

}

.slider-cards {
    display: flex;
    z-index: 99;
      transform: translate(20em);
      transition: transform 5s ease-in;
    /* margin: 0; */
    /* width: 100%; */
    /* background-color: indigo; */
    /* -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s; */
      /* transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); */
        /* transform: translateX(-300px);
        transition-duration: 2s;  */

}
/* 
.slider-cards .card { */
    /* transform: translateX(300px); */
    /* transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    
}

.carry-container {}

.carry-container .card {
    /* transition-property: transform; */
    /* transition: transform 300ms; */
    /* transform: translate(20rem); */


.card {
    width: 15rem;
    height: 10rem;
    background-size: cover;
    margin-right: 2em;
    /* background-repeat: no-repeat; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* scroll-snap-align: start; */
      /* transition: translate(20em) 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); */

}

.card-city {
    background: rgba(255, 255, 255, 0.664);
    font-size: 2rem;
}












/* .carry-all {
    height: fit-content;
    width: 100%;
    background-color: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carry-controls {
    position: absolute;
    height: fit-content;
    width: 100%;
    border: solid 1px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.carry-cont {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 350px;
   height: 300px;
   background-color: red;
   overflow: hidden;
   display: flex;
   margin: 1em;
}


.carry {
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: center;


}


CARD

.card {
    width: 350px;
    height: 300px;
    background-color: blue;
    border: 2px solid black;
    box-sizing: border-box;
    font-size: 2.5em;
    color: white;
    margin-right: 1em;
}

/* 
button {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    z-index: 1;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 219, 180);
    border-style: solid;
    box-shadow: none;
    outline: none;


} */