
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

.carry-all {
    /* background-color: white; */
    width: 100%;
    /* height: 35vh; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  


}

.control-cont {
    height: fit-content;
    width: 90%;
    position: absolute;
    display: flex;
    align-items: center;

}

.carry-controls {
    position: absolute;
    width: 99%;
    /* height: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    pointer-events: none; 
    /* cursor: pointer; */
    

     
    /* background-color: khaki; */
}

.slide-btn {
    padding: 0.75em;
    border-radius: 50%;
    font-size: x-large;
    background-color: rgba(255, 255, 255, 0.315);
    outline: none;
    cursor: pointer;
    pointer-events: all;
    border: 1px solid rgba(0, 0, 0, 0.308);
    /* margin-right: 1em; */
    
}



.slide-btn:hover {
    background-color: rgb(255, 255, 255);
    /* color: rgba(255, 255, 255, 0.774); */
    /* transition: 1s; */
    transition: ease 1s;
}




/* .card a {
    position: absolute;
    
} */

.card {
    /* width: 100%;
    height: 100%; */
    width: 20rem;
    height: 15rem;
    /* border: 2px solid black; */
    background-size: cover;
    /* padding-right: 2em; */
    margin: 2rem;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    /* scroll-snap-align: start; */
      /* transition: translate(20em) 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); */
    z-index: 1;
    /* overflow: scroll; */
    /* resize: both; */
    /* justify-content: center; */
    border-radius: 0.5em;
}

.card-contain {
    height: 100%;
    /* width: fit-content; */
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
}


.card-link{
    min-width: 100%;
    min-height: 50%;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-att-name {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* max-height: 10%; */
    flex-direction: row;
    /* text-overflow: ellipsis; */
    /* background-color: turquoise; */
    font-size: x-large;
}
/* 
.card-link p{
    width: 100%;
    height: 50%;
    font-size: x-large;
    color: white;
    text-shadow: 2px 2px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;

} */


.activeCard {
    width: 20rem;
    height: 20rem;
    background-size: cover;
    /* margin-right: 2em; */
    /* background-repeat: no-repeat; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-city {
    background: rgba(255, 255, 255, 0.664);
    font-size: 2rem;
}



.test-all {
    /* background-color: burlywood; */
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    /* overflow: hidden; */
    /* overflow-x: hidden; */

}

.test-slider {
    height: 100%;
    max-width: 80%;
    width: fit-content;
    /* background-color: teal; */
    display: flex;
    flex-direction: row;
    overflow: hidden;
    /* z-index: 1; */
    /* justify-content: center; */
    align-items: center;



}




.test-slider-wrapper {
    display: flex;
    height: fit-content;
    width: fit-content;
    /* width: 45em; */
    /* position: absolute; */
    /* width: fit-content; */
    /* overflow-x: hidden; */
    /* flex-direction: row; */
    /* align-items: center; */
    /* background-color: lawngreen; */
    /* pointer-events: none; */


}
/* 
.test-slider {
    position: relative;
    max-width: 226px;
    margin: 0 auto;
}  */








/* CARD */


.test-card-all {
    background-color: lightcoral;
    height: 100%;
    width: 100%;
    display: flex;
    /* overflow-x: hidden; */
    flex-direction: row;
    background-color: lightblue;

}

.test-image {
    height: 6em;
    width: 6em;
    /* margin-right: 1em; */
}









/* .carry-all {
    height: fit-content;
    width: 100%;
    background-color: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carry-controls {
    position: absolute;
    height: fit-content;
    width: 100%;
    border: solid 1px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.carry-cont {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 350px;
   height: 300px;
   background-color: red;
   overflow: hidden;
   display: flex;
   margin: 1em;
}


.carry {
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: center;


}


CARD

.card {
    width: 350px;
    height: 300px;
    background-color: blue;
    border: 2px solid black;
    box-sizing: border-box;
    font-size: 2.5em;
    color: white;
    margin-right: 1em;
}

/* 
button {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    z-index: 1;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 219, 180);
    border-style: solid;
    box-shadow: none;
    outline: none;


} */