/* TESTING PAGE */

body {
    overflow: hidden;
}


/* DECK STYLING */


.deck-all {
    width: 100%;
    height: 100vh;
    background-color: thistle;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.deck {
    display: flex;
    flex-direction: row;
    transition-duration: 5s;

    /* height: fit-content; */
    /* width: 50%; */
    /* min-width: fit-content; */
}



/* .deck {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
    background-color: green;
} */


/* CARD STYLING */
/* .CARD {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 300px;
    background-color: red;
} */

.testCard {
    background-size: cover;
    /* margin: 1em; */
    /* width: 10em;
    height: 10em; */
    /* transform: translate(-50%, -50%); */

    transition-duration: 5s;
}